<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="dipian_data" connectionString="Data Source=DESKTOP-DH4BT96;Initial Catalog=dipian_para;Integrated Security=True" />
    <add name="Scan_01.Properties.Settings.dipian_paraConnectionString"
      connectionString="Data Source=DESKTOP-DH4BT96;Initial Catalog=dipian_para;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>